@keyframes blink-border {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: yellow; /* Change to desired color */
  }
}

.blink-border {
  border: 2px solid transparent; /* Initial border setting */
  animation: blink-border 1s infinite;
  border-radius: 50%; /* Make the border rounded */
  width: 54x; /* Match the image size */
  height: 54px; /* Match the image size */
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes blink {
  0% {
    border-color: orange;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: orange;
  }
}

.blink {
  animation: blink 1s infinite;
}

